.PasswordNew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 486px;
}

.title {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 35.2px;
  margin-bottom: 48px;
}

.PASSWORD_NEW {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.PASSWORD_NEW label {
  font-weight: 300;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 9px;
}

.PASSWORD_NEW p {
  font-weight: 300;
  font-size: 13px;
  line-height: 18.85px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 9px;
}

.PASSWORD_NEW input {
  height: 62px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 30px;
}

.PASSWORD_NEW input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 17.6px;
}

.PASSWORD_NEW .newpassword {
  margin-bottom: 20px;
}

button {
  width: 486px;
  height: 62px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(96, 78, 248, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}
