.mainContainer {
    padding-top: 72px;
    padding-left: 203px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.reviewScope {
    padding-top: 48px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
}

.reviewStar {
    margin-right: 30px;
}

.reviewBar {
    margin-left: 30px;
}

.reviewScopeHr {
    margin-bottom: 0px;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.50);
}

.reviewStarHr{
    margin: 0px;
    border: none;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.50);
}

.numRating {
    font-size: 58px;
    margin-bottom: 18px;
}

.starRating {
    position: relative;
    width: 250px;
    height: 43px;
    margin-bottom: 22px;
}

.starRatingDown {
    height: 43px;
    width: 250px;
}

.starRatingDown img {
    margin: 0px 4px;
    width: 42px;
    height: 40px;
}

.starRatingUp {
    height: 43px;
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 0;
}

.starRatingUp img {
    margin: 0px 4px;
    width: 42px;
    height: 40px;
}

.barRating {
    display: flex;
    width: 644px;
    justify-content: space-between;
    margin-bottom: 14px;
}

.barRatingStar {
    width: 51px;
}

.barRatingContainer {
    position: relative;
    width: 504px;
    height: 25px;
}

.barRatingDown {
    width: 504px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.50);;
}

.barRatingUp {
    width: 504px;
    height: 25px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.50);;
    background-color: #604EF8;
}

.barRatingPercent {
    width: 30px;
}