.MembershipEnd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 26.4px;
  margin-bottom: 25px;
}

.title_desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 17.6px;
  text-align: center;
  color: rgba(147, 147, 147, 1);
  margin-bottom: 83px;
}

.wrap {
  display: flex;
  width: 736px;
  margin-bottom: 84px;
}

.wrap span {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 62px;
}

.left {
  width: 396px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.profile {
  display: flex;
}

.profile_left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 116px;

  font-size: 300;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 0.5);
}

.profile_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 300;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 1);
}

.right {
  width: 396px;
  padding-left: 91px;
}

.result {
  display: flex;
  margin-bottom: 39px;
}

.result_left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 116px;

  font-size: 300;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 0.5);
}

.result_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 300;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 1);
}

.right p {
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(0, 0, 0, 0.5);
}

.correction {
  font-size: 14px;
  line-height: 15.4px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 486px;
  height: 62px;
  background-color: rgba(96, 78, 248, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  margin-top: 45px;
}
