.items-container {
    margin: 72px 50px 0px 323px;
}

.title-container {
    padding: 30px 0 60px 0;
    border-bottom: 1px solid black;
}

.inner-container {
    margin-top: 20px;
    margin-left: 73px;
}

.table-container {
    margin-top: 45px;
    margin-left: 73px;
    margin-right: 77px;
}

h1 {
    font-size: 1.7rem;
    font-weight: 650;
}

p {
    margin-top: 25px;
    font-size: 1rem;
    color: #697077;
}

table.type07 {
    text-align: left;
    line-height: 1.5;
    width: 100%;
    table-layout: fixed;
}


table.type07 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
}

table.type07 tbody th {
    height: 80px;
    font-weight: bold;
    vertical-align: middle;
}

table.type07 td {
    width: 100%;
    height: 40px;
    padding: 13px 0;
    vertical-align: top;
}


.type07 th:first-child {
    width: 30px;
    height: 40px;
    text-align: center;
}